<h1>Camelization</h1>

<p><a href="/">Home</a> | <a href="/address">Address</a> | <a href="/camelize">Camelization</a></p>


<img src ="/camels.jpg">

<p>Camel case text is generally a string of words that have been squashed together by removing the spaces between them. In order to make the resulting squashed  up words readable the first letter of each word is capitalised:</p>

<div id="camel_example">
<p>bad romance = BadRomance</p>

<p>Lets get this party started = LetsGetThisPartyStarted</p>

<p>Brexit sucks = BrexitSucks</p>

</div>

<p>In our course we have been using Camel case for the names of classes.</p>

<h2>Try it!</h2>

<p>Type a string of words in the url above and Sinatra will help camelize them for you.</p>