<h1>Paul&rsquo;s Homework</h1>

<p><a href="/">Home</a> | <a href="/address">Address</a> | <a href="/camelize">Camelization</a></p>

<img id="home_page_image" src ="/alaska_ferry.png">

<p>Welcome to Paul's homework.</p>

<p>In addition to being a big-game hunter, ex-ambassador to China, Scotland correspondent for the Washington Post and international man of mystery, Paul helped invent the World Wide Web with Tim Berners-Lee.</p>

<p>And yet Paul realised he had significant holes in his knowledge of coding, and so you find him eagerly learning Ruby, SQL and Sinatra on the CodeClan course in Edinburgh, in between advising Nicola Sturgeon on Brexit negotiations.</p>

<h2>Homework</h2>

<p><a href="/address">Address in Json</a><br>
 <a href="/camelize">Camelization</a></p>
