body {
    background-color: #f2f2f2;
    font-family: verdana;
}

h1 {
    color:white;
    text-shadow:5px 5px 7px #000;
}

p {
    font-size:1.5em;
    margin-right:5em;
}

span {color:maroon;}


#home_page_image {
    float:left;
    margin:0 25px 25px 0;
    box-shadow: 5px 5px 10px #000;

}